{% extends 'subBase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.card{
		height: 700px;
		overflow-y: scroll;
	}
</style>
<div class="card">
	<div class="card-body">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="bordor-bottom mb-4">Reset Password</legend>
				{{form|crispy}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">
					Reset Password
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
