{% extends 'base.html' %}
	{% load staticfiles %}
	{% load crispy_forms_tags %}
		{% block content %}

			<style>
			.card{
				height: 700px;
				overflow-y: scroll;
			}
			</style>	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<legend>Create</legend>
							</div>
							<div class="card-body">
								<form method="POST" action="{% url 'catalog:book-create' %}" enctype="multipart/form-data">
									{% csrf_token %}
									{{bookForm|crispy}}
									<div class="form-group">
										<button class="btn btn-success" type="submit">
											Create
										</button>
									</div>
								</form>
								<a href="/core/" class="btn btn-info">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}